REACT_APP_API_URL=http://localhost:5000/api/v1
REACT_APP_POLYGON_CHAIN_ID=80001
REACT_APP_POLYGON_RPC_URL=https://rpc-mumbai.maticvigil.com
REACT_APP_ACHIEVEMENT_CONTRACT_ADDRESS=
REACT_APP_COLLECTIBLE_CONTRACT_ADDRESS=
REACT_APP_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
